In [1]:
import pandas as pd
import openpyxl

In [2]:
ls

Krylon 09-05-2024_saved 2.xlsx  installed_packages.txt
README.md                       main1.py
__pycache__/                    myprojectenv/
chroma.log                      ollama_prompt.py
data.xlsx                       path_to_your_database.db
data_wrangling.ipynb            pdm.lock
ecommerce.db                    pyproject.toml
ecommerce1.db                   src/
ecommerce_data.py               tests/

In [3]:
df = pd.read_excel('data.xlsx')

In [9]:
df1 = pd.read_excel('/Users/ghanshyam/Projects/fornax/llm/langchain/Krylon 09-05-2024_saved 2.xlsx', sheet_name='Analysis')

In [10]:
df1

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13167,WA37300,STB2-37300,50PK Wedge AllÂ® Wedge Anchor 3/8 x 3,Y,NaN,0,EA,0,0,1,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN
13168,WD0002,01272,WD-40 Smart Straw 325g,N,NaN,0,EA,0,0,4,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN
13169,WOO005,207,Hummingbird Feeder Double Decker Detachable 26oz,Y,NaN,8,EA,0,0,4,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN
13170,YJTD-DB300-E-C,YJTD-DB300-E-C,Yellowjacket Disposable Traps For Eastern Cana...,N,NaN,300,EA,0,0,0,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN
13171,Z312STC15,0,16D Spiral Nail 3Â½in Brt(Ardox) 1.50Kg,Y,NaN,0,EA,0,0,2,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN

In [12]:
df2 = pd.read_excel('/Users/ghanshyam/Projects/fornax/llm/langchain/Krylon 09-05-2024_saved 2.xlsx', sheet_name='Data')

In [13]:
df2

,item,2022-06-01 00:00:00,2022-07-01 00:00:00,2022-08-01 00:00:00,2022-09-01 00:00:00,2022-10-01 00:00:00,2022-11-01 00:00:00,2022-12-01 00:00:00,2023-01-01 00:00:00,2023-02-01 00:00:00,...,2024-12-31 00:00:00,2025-01-31 00:00:00,2025-02-28 00:00:00,2025-03-31 00:00:00,2025-04-30 00:00:00,2025-05-31 00:00:00,2025-06-30 00:00:00,2025-07-31 00:00:00,2025-08-31 00:00:00,Plan_qty
0,000000,1550,1086,931,1272,1085,1070,783,1033,935,...,764,1062,1035,1454,1597,1462,1390,1177,1053,1238
1,000123,2917,0,0,0,0,0,0,0,0,...,0,0,0,636,38,104,85,569,62,159
2,010803,0,0,0,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,010804,225,536,708,50,0,0,0,1548,689,...,0,1036,91,5540,508,0,346,1095,0,948
4,100001,632,10,12,0,44,74,0,34,2,...,0,0,0,50,0,0,94,0,0,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13142,WA37300,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,2,1,1
13143,WD0002,0,0,0,0,120,24,6,12,0,...,0,0,0,0,0,0,0,0,0,4
13144,WOO005,0,0,0,0,0,0,0,0,0,...,3,3,15,3,3,3,3,3,4,4
13145,YJTD-DB300-E-C,12900,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13146,Z312STC15,0,0,0,60,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2